<%- include header %>

<div class="container " style="padding-top:70px;">
	<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#info" data-toggle="tab">个人信息</a></li>
    <li><a href="#password" data-toggle="tab">修改密码</a></li>
  </ul>

  <div class="tab-content">
    <% if (locals.error) { %>
      <div class="big red"><%= locals.error %> </div>
    <% } %>
    <div class="tab-pane active" id="info">
      <div class="col-md-1">
        <p style="margin-top: 30px;"><img src="/images/<%= user.info.pic.big %>" style="width:100%"/></p>
      </div>
      <div class="col-md-6">
        <form action="setting" class="form-horizontal" role="form" method="post" enctype="multipart/form-data" style="margin-top:20px;">
          <div class="form-group">
            <label for="Spec" class="col-sm-2 control-label">特长</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="Spec" value="<%= user.info.Spec %>" >
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">兴趣</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="interest" value="<%= user.info.interest %>">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="email" value="<%= user.info.email %>">
            </div>
          </div>
          <div class="form-group">
            <label for="pic" class="col-sm-2 control-label">上传头像</label>
            <div class="col-sm-10">
              <input type="file" id="pic" name="thumbnail" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">提交</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="tab-pane" id="password">
      <div class="col-md-6">
        <form action="setPassword" class="form-horizontal" role="form" style="margin-top:20px;" method="post">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">原始密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="oldPassword" placeholder="原始密码">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="newPassword" placeholder="新密码">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="reNewPassword" placeholder="确认密码">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">提交</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include footer %>