<%- include header %>

<div class="container " style="padding-top:70px;" ng-controller="FetchCtrl">
	<div class="row">
	  <div class="col-md-2">
	  	<div class="list-group">
        <h4>公司概况</h4>
        <a href="http://stockpage.10jqka.com.cn/<%= locals.id%>/company/#detail" class="list-group-item text-primary">公司简介</a>
        <a href="http://stockpage.10jqka.com.cn/<%= locals.id %>/company/#manager" class="list-group-item">公司高管</a>
        <a href="http://stock.jrj.com.cn/share,<%= locals.id %>,zgsms.shtml" class="list-group-item">IPO文件</a>
        <h4>股权信息</h4>
        <a href="http://hq.emoney.cn/f10/Wf10/gdyj/<%= locals.id%>.html" class="list-group-item">股权结构</a>
        <a href="http://stock.jrj.com.cn/share,<%= locals.id%>,sdgd.shtml" class="list-group-item">十大股东</a>
        <a href="http://stock.jrj.com.cn/share,<%= locals.id%>,jjcg.shtml" class="list-group-item">基金持股</a>
        <a href="http://hq.emoney.cn/f10/Wf10/ggda/<%= locals.id%>.html" class="list-group-item">高管持股</a>
        <a href="http://stock.jrj.com.cn/share,<%= locals.id%>,xsgd.shtml" class="list-group-item">限售股份</a>
        <h4>股票交易</h4>
        <a href="http://stockhtm.finance.qq.com/sstock/quotpage/q/<%= locals.id%>.htm#detail" class="list-group-item">成交明细</a>
        <a href="http://stockhtm.finance.qq.com/sstock/quotpage/q/<%= locals.id%>.htm#price" class="list-group-item">分价表</a>
        <a href="http://quotes.money.163.com/trade/ddtj_<%= locals.id%>.html" class="list-group-item">大单统计</a>
        <a href="http://data.10jqka.com.cn/market/longhu/cjmx/<%= locals.id%>/" class="list-group-item">龙虎榜数据</a>
        <a href="http://stockdata.stock.hexun.com/rzrq/" class="list-group-item">融资融券</a>
        <a href="http://q.stock.sohu.com/cn/<%= locals.id%>/lshq.shtml" class="list-group-item">历史行情</a>
      </div>
	  </div>
	  <div class="col-md-7">
      <h2>{{stock.name}}
        <span style="display:none" id="iswatch"><%= locals.isWatch%></span>
        <button type="button" class="btn btn-info col-md-offset-4" ng-click="watchStock()" id="butIswatch">关注</button>
        <button type="button" class="btn btn-info col-md-offset-4" ng-click="unWatchStock()" id="butNowatch">取消</button>
      </h2>
      <p class="{{stock.zdClass}} lead">
        <strong data-current="{{stock.current}}">￥{{stock.current}}</strong>
        <span class="stockDown">
          <span>{{stock.change}}</span>
          <span class="quote-percentage">&nbsp;&nbsp;({{ stock.zdf }}{{stock.percentage}}%)</span>
        </span>
      </p>
      <p>
        <span id="timeInfo">{{stock.time | date:'yyyy-MM-dd HH:mm:ss' }} (北京时间)&nbsp;&nbsp;</span>
        <span>实时行情</span>
      </p>
      <table class="table" id="stockTableShow">
        <tbody>
          <tr>
            <td>今开：<span>{{stock.open}}</span></td>
            <td>昨收：<span>{{stock.last_close}}</span></td>
            <td>最高：<span id="quote-high">{{stock.high}}</span></td>
            <td>最低：<span id="quote-low">{{stock.low}}</span></td>
          </tr>
          <tr>
            <td title="当日成交量，单位：股">成交量：<span id="quote-volume">{{stock.volume | number }}</span></td>
            <td title="过去30个交易日平均成交量，单位：股">30日均量：<span>{{stock.volumeAverage | number }}</span></td>
            <td>成交额：<span>{{stock.amount | number }}</span></td>
            <td>52周最高：<span>{{stock.high52week}}</span></td>
          </tr>
          <tr>
            <td>52周最低：<span>{{stock.low52week}}</span></td>
            <td title="市盈率LYR：当前价/最近年度摊簿每股收益，市盈率TTM：当前价/最近四个季度摊簿每股收益之和。">市盈率LYR/TTM：<span>{{stock.pe_lyr}}/{{stock.pe_ttm}}</span></td>
            <td title="上一年度基本每股收益，单位：人民币">每股收益：<span>{{stock.eps}}</span></td>
            <td title="最近报告期每股净资产，单位：人民币">每股净资产：<span>{{stock.net_assets}}</span></td>
          </tr>
        </tbody>
      </table>
      <h3>图标</h3>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                加入聊天室
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div style="height:300px;overflow-y: overlay;">
                <p class="col-md-offset-3">查看更早内容</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
                <p><span>adasdad</span>:asdasdsadsad</p>
              </div>
              <textarea style="width:100%;height:55px;margin-bottom:10px;margin-top:10px;"></textarea>
              <button type="button" class="btn btn-primary navbar-right">发布</button>
            </div>
          </div>
        </div>
      </div>

      <h3>发布评论</h3>
      <textarea style="width:100%;height:80px;margin-bottom:10px;">#上海贝岭(SH600171)#</textarea>
      <button type="button" class="btn btn-primary navbar-right">发布</button>
      <div class="clearfix"></div>
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home" data-toggle="tab">全部</a></li>
        <li><a href="#profile" data-toggle="tab">新闻</a></li>
        <li><a href="#messages" data-toggle="tab">相关</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <ul class="list-group">
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
          </ul>
        </div>
        <div class="tab-pane" id="profile">
          <ul class="list-group">
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
          </ul>
        </div>
        <div class="tab-pane" id="messages">
          <ul class="list-group">
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3>简介</h3>
      <h3>关注的人</h3>
      <ul class="list-group">
        <li>asdasd</li>
        <li>adsad</li>
        <li>adas</li>
        <li>asdasd</li>
        <li>adsad</li>
        <li>adas</li>
        <li>asdasd</li>
        <li>adsad</li>
        <li>adas</li>
      </ul>
      <h3>相关</h3>
    </div>
	</div>
</div>
<script>
$(".collapse").collapse()
</script>

<script src="js/tgy/sto.js"></script>

<%- include footer %>